
padding-horizontal = 15px

label-padding-vertical = (input-height - label-font-size) / 2
lebel-decorate-active-translateY = 10px
label-active-translateY = -(input-height / 2 + label-font-size * 1.2 + lebel-decorate-active-translateY)

input-margin-top = (label-font-size + lebel-decorate-active-translateY * 2) * 1.5

$input__label--vc
  position: absolute
  padding: label-padding-vertical padding-horizontal
  height: input-height

.su-input--haruki
  margin-top: input-margin-top

  .su-input__field
    position: relative
    padding: 0 padding-horizontal
    background: transparent
    color: field-color

  .su-input__label
    @extend $input__label--vc

    bottom: 0

    &::before,
    &::after
      content: ""
      position: absolute
      left: 0
      z-index: -1
      width: 100%
      height: 4px
      background-color: status-color-primary
      transition: transform 0.3s

    &::before
      top: 0

    &::after
      bottom: 0

  .su-input__label-content
    transition: transform 0.3s

  // 激活状态
  &.su-input--filled .su-input__label,
  .su-input__field:focus + .su-input__label
    &::before
      transform: translate3d(0, -(lebel-decorate-active-translateY), 0)

    &::after
      transform: translate3d(0, lebel-decorate-active-translateY, 0)

    .su-input__label-content
      transform: translate3d(0, label-active-translateY, 0)
