
input-margin-top = label-font-size * 1.5
padding-horizontal = 0.3em

label-active-translateY = -(input-height + label-font-size) / 2
label-padding-top = (input-height - label-font-size) / 2
label-padding-bottom = (input-height - label-font-size) / 2 - 0.6

.su-input--hoshi
  margin-top: input-margin-top

  .su-input__field
    position: relative
    padding: 0 padding-horizontal
    height: input-height - 10
    color: #595f6e

  .su-input__label
    position: absolute
    top: 0
    padding: label-padding-top padding-horizontal label-padding-bottom
    border-bottom: 1px solid status-color-primary
    pointer-events: none

    &::after
      content: ""
      position: absolute
      left: 0
      bottom: -0.125em
      display: block
      width: 0
      height: 0.25em
      background-color: status-color-info
      transition: width 0.3s

  // .su-input__label-content
  //   transition: transform 0.3s

  // 激活状态
  &.su-input--filled .su-input__label,
  .su-input__field:focus + .su-input__label
    &::after
      width: 100%

    .su-input__label-content
      animation: animation-hoshi-label 0.3s forwards

@keyframes animation-hoshi-label
  50%
    opacity: 0
    transform: translate3d(1em, 0, 0)

  51%
    opacity: 0
    transform: translate3d(-1em, label-active-translateY, 0)

  100%
    opacity: 1;
    transform: translate3d(0, label-active-translateY, 0);
