@import "variables";

// SET 1
@import "common";
@import "haruki";
@import "hoshi";
@import "kuro";
@import "jiro";
@import "minoru";
@import "yoko";
@import "hideo";
@import "kyo";
@import "akira";
@import "ichiro";
@import "juro";
@import "madoka";
@import "kaede";
@import "isao";

// SET2
@import "manami";
@import "nariko";
