
input-margin-bottom = 1.875em
input-color = #747981

label-pseudo-border = 0.25em solid input-color
label-color = #df6589
label-active-translateY = (input-height + label-font-size + input-margin-bottom) / 2

$kuro-label-pseudo
  content: ""
  position: absolute
  top: 0
  width: 50%
  height: 100%
  border: label-pseudo-border
  transition: transform 0.3s

.effect-input--kuro
  margin-bottom: input-margin-bottom * 1.5
  text-align: center

  .effect-input__field
    color: input-color
    text-align: center

  .effect-input__label
    @extend $input__label--vc

    top: 0
    color: label-color

    &::before
      @extend $kuro-label-pseudo

      left: 0
      border-right: none

    &::after
      @extend $kuro-label-pseudo

      right: 0
      border-left: none

  // .effect-input__label-content

  // 激活状态
  &.effect-input--filled .effect-input__label,
  .effect-input__field:focus + .effect-input__label
    &::before
      transform: translate3d(-10%, 0, 0)

    &::after
      transform: translate3d(10%, 0, 0)

    .effect-input__label-content
      animation: animation-kuro-label 0.3s forwards

@keyframes animation-kuro-label
  50%
    opacity: 0
    transform: scale3d(0.3, 0.3, 1)

  51%
    opacity: 0
    transform: translate3d(0, label-active-translateY, 0) scale3d(0.3, 0.3, 1)

  100%
    opacity: 1
    transform: translate3d(0, label-active-translateY, 0)
