

.su-input--hoshi

  .su-input__field

  .su-input__label

  .su-input__label-content

  // 激活状态
  &.su-input--filled .su-input__label,
  .su-input__field:focus + .su-input__label

    .su-input__label-content
