

.effect-input--hoshi

  .effect-input__field

  .effect-input__label

  .effect-input__label-content

  // 激活状态
  &.effect-input--filled .effect-input__label,
  .effect-input__field:focus + .effect-input__label

    .effect-input__label-content
