input-width = 320px
input-height = 66px
input-font-size = 16px

label-font-size = 16px
label-color = #6a7989

field-font-size = 24px
field-color = #afb5bb

status-color-primary = #6a7989
status-color-info = #1dacfc
status-color-success = #2bfdac
status-color-danger = #fc561f

