input-width = 320px
input-width = 20em
input-height = 4.125em
input-font-size = 1em

label-font-size = input-font-size
label-color = #6a7989

field-font-size = 1.5em
field-color = #afb5bb
field-height = input-height * input-font-size / field-font-size

status-color-primary = #6a7989
status-color-info = #1dacfc
status-color-success = #2bfdac
status-color-danger = #fc561f

