
background-color = #c5564a

$yoko-label-pseudo
  content: ""
  position: absolute
  left: 0
  width: 100%
  transition: transform 0.3s

.su-input--yoko

  .su-input__field
    padding: 0 15px
    color: #f5f5f5
    opacity: 0
    transition: opacity 0.3s

  .su-input__label
    position: relative
    color: #b04b40

    &::before
      @extend $yoko-label-pseudo

      bottom: 100%
      height: input-height
      background-color: background-color
      transform: perspective(1000px) rotate3d(1, 0, 0, 90deg)
      transform-origin: 50% 100%
      z-index: -1

    &::after
      @extend $yoko-label-pseudo

      top: 0
      height: 4px
      background: #ad473c
      transform-origin: 50% 0%

  .su-input__label-content
    padding: 18px 15px

  // 激活状态
  &.su-input--filled .su-input__label,
  .su-input__field:focus + .su-input__label
    &::before
      transform: perspective(1000px) rotate3d(1, 0, 0, 0)

    &::after
      transform: perspective(1000px) rotate3d(1, 0, 0, -90deg)

  &.su-input--filled .su-input__field,
  .su-input__field:focus
    opacity: 1
    transition-delay: 0.3s
